.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: center;
    margin: 0.8rem 0.8rem;
}

li a {
    color: black;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

li .active {
    text-decoration: underline;
}
