* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Schoolbell', cursive;
  font-size: 3.2rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

